<!DOCTYPE html>
<html>
	<head>
		<title>2048</title>
		<link rel="stylesheet" href="../static/css/2048.css">
	</head>
	<body>
		<div class="mainCont">
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
			<div class="bg-blk"></div>
		</div>


	<script coolie src="../static/js/coolie.min-1.1.1.js"
		data-config="coolie-config.js"
		data-main="index.js"></script>
	</body>
</html>